* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background: #333;
    color: #fff;
    padding: 1rem;
}

.btn {
    background: coral;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: .7rem 2rem;
    transition: .3s ease-in-out;
}

.btn:hover {
    opacity: 0.5;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: orangered;
    color: #fff;
    padding: 1rem;
}